* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28155a;
    padding: 10px 20px;
    color: white;
}



.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Oswald", serif;
    font-weight: 900;
    color: #f39c12;
    margin-left: 10px;
}

/* Navigation Links */
.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background 0.3s;
}

.revennir {
    display: none;
    background: none;
    border: none;
    margin-left: 25px;
    font-size: 30px;
    color: white;

}

.revennir:hover {
    background: #f39c12;
}

.nav-links a:hover {
    background: #f39c12;
    border-radius: 4px;
}

.nav-links.active {
    display: none;
}

/* Responsive Design */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 200px;
}
.card {
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(249, 34, 34, 0.2);
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        float: right;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    .nav-links.active {
        display: block;
    }

    .revennir {
        display: block;
    }

    .iconsgrd {
        margin-left: 120px;

    }
    .navbar{
        z-index: 1050;
    }
}
footer {
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
}

footer a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #e67e22;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #e67e22;
}